extends layout.pug
block head 
    link(rel="stylesheet", href="/cities.css")
    block cityCss

   

block dataContent
    table.data_table            
        tr
            th Code
            th City
            th Population 
    
            each city in cities
                tr
                    td #{city.CountryCode}
                    td 
                        a(href=`/cities/city/${city.ID}`) #{city.Name}
                    td #{city.Population}
                    
    