extends layout.pug
block head 
    link(rel="stylesheet", href="/cities.css")
    block cityCss

   

block dataContent
    table.data_table            
        tr
            th Code
            th City
            th Population 
    
            each cityData in cities
                tr
                    td #{cityData.code}
                    td 
                        a(href=`/cities/city/${cityData.id}`) #{cityData.name}
                    td #{cityData.population}
                    
    