extends layout.pug
block head 
    link(rel="stylesheet", href="/continents.css")
    block cityCss

   

block dataContent
    table.data_table            
        tr
            th Continent
            th Number Of Countries 
            th Total Population 
    
        each continent in continents
                tr
                    td 
                        a(href=`/continents/${continent.Continent}`) #{continent.Continent}
                    td #{continent.countries}
                    td #{continent.Population}
block adjustmentButtons
    .data_droplist
            | Delete
            form(action="/submit-form", method="GET")
                ul
                    li.data_li
                        input(type="text", name="cityDelete", placeholder="City ID", class="data_filter", autocomplete="none")
                    li.data_li
                        input(type="text", name="countryDeleteCode", placeholder="Country code", class="data_filter", autocomplete="none")
                        input(type="text", name="countryDeleteName", placeholder="Country name", class="data_filter", autocomplete="none")
                    li.data_li
                        button.data_btn(type="submit") Submit
    .data_btn See Database