<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  Meta tags  -->
		<meta charset="UTF-8" />
		<title></title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<!-- Website desc for SEO -->
		<meta
			name="description"
			content="" />
		<meta
			name="author"
			content="" />
		<meta
			name="keywords"
			content="" />

		<!-- Open Graph social media info -->
		<meta
			property="og:url"
			content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
		<meta
			property="og:type"
			content="article" />
		<meta
			property="og:title"
			content="When Great Minds Don’t Think Alike" />
		<meta
			property="og:description"
			content="How much does culture influence creative thinking?" />
		<meta
			property="og:image"
			content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

		<!-- FAVICONS info -->
		<link
			rel="icon"
			href="icon_path"
			type="image/png"
			sizes="16x16" />

		<!-- Outside styling and links info -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="../css/style.css" />
		<link
			rel="stylesheet"
			href="../css/content.css" />
	</head>
	<body>
		<div class="wrapper">
			<aside class="logo">Logo</aside>
			<nav class="nav_bar">
				<ul>
					<li class="nav_item">
						<input
							type="text"
							placeholder="Search"
							class="nav_search" />
					</li>
					<li class="nav_item"><a href="">Data</a></li>
					<li class="nav_item"><a href="">Icon</a></li>
				</ul>
			</nav>
			<section class="graph">
				<div class="graph_container">
					<header>
						<h1 class="graph_title">Graph</h1>
					</header>
					<div class="graph_content">[Content]</div>
					<ul class="graph_filters">
						<li class="graph_filter">
							<input
								type="checkbox"
								name="continentsCheckbox"
								id="" />Continents
						</li>
						<li class="graph_filter">
							<input
								type="checkbox"
								name="countriesCheckbox"
								id="" />Countries
						</li>
						<li class="graph_filter">
							<input
								type="checkbox"
								name="citiesCheckbox"
								id="" />Cities
						</li>
					</ul>
				</div>
			</section>
			<section class="data">
				<div class="data_container">
					<header>
						<h1 class="data_title">Data:</h1>
					</header>
					<div class="data_droplist">
						Display:
						<ul>
							<li>Map</li>
							<li>Graph</li>
						</ul>
					</div>
					<div class="data_droplist">
						Filter
						<ul>
							<li class="data_li">
								<input
									type="text"
									placeholder="City"
									class="data_filter"
									autocomplete="none" />
							</li>
							<li class="data_li">
								<input
									type="text"
									placeholder="Country"
									class="data_filter"
									autocomplete="none" />
							</li>
							<li class="data_li">
								<input
									type="text"
									placeholder="Continent"
									class="data_filter"
									autocomplete="none" />
							</li>
						</ul>
					</div>
					<div class="data_tableDiv">
						<table class="data_table">
							<tr>
								<th>Code</th>
								<th>City</th>
								<th>Population</th>
							</tr>

							<tr>
								<td>Code1</td>
								<td>City1</td>
								<td>Population1</td>
							</tr>
							<tr>
								<td>Code2</td>
								<td>City2</td>
								<td>Population2</td>
							</tr>
							<tr>
								<td>Code3</td>
								<td>City3</td>
								<td>Population3</td>
							</tr>
							<tr>
								<td>Code4</td>
								<td>City4</td>
								<td>Population4</td>
							</tr>
							<tr>
								<td>Code5</td>
								<td>City5</td>
								<td>Population5</td>
							</tr>
							<tr>
								<td>Code6</td>
								<td>City6</td>
								<td>Population6</td>
							</tr>
							<tr>
								<td>Code7</td>
								<td>City7</td>
								<td>Population7</td>
							</tr>
							<tr>
								<td>Code8</td>
								<td>City8</td>
								<td>Population8</td>
							</tr>
							<tr>
								<td>Code9</td>
								<td>City9</td>
								<td>Population9</td>
							</tr>
							<tr>
								<td>Code10</td>
								<td>City10</td>
								<td>Population10</td>
							</tr>
							<tr>
								<td>Code11</td>
								<td>City11</td>
								<td>Population11</td>
							</tr>
							<tr>
								<td>Code12</td>
								<td>City12</td>
								<td>Population12</td>
							</tr>
							<tr>
								<td>Code13</td>
								<td>City13</td>
								<td>Population13</td>
							</tr>
							<tr>
								<td>Code14</td>
								<td>City14</td>
								<td>Population14</td>
							</tr>
							<tr>
								<td>Code15</td>
								<td>City15</td>
								<td>Population15</td>
							</tr>
							<tr>
								<td>Code16</td>
								<td>City16</td>
								<td>Population16</td>
							</tr>
							<tr>
								<td>Code17</td>
								<td>City17</td>
								<td>Population17</td>
							</tr>
							<tr>
								<td>Code18</td>
								<td>City18</td>
								<td>Population18</td>
							</tr>
							<tr>
								<td>Code19</td>
								<td>City19</td>
								<td>Population19</td>
							</tr>
							<tr>
								<td>Code20</td>
								<td>City20</td>
								<td>Population20</td>
							</tr>
							<tr>
								<td>Code21</td>
								<td>City21</td>
								<td>Population21</td>
							</tr>
							<tr>
								<td>Code22</td>
								<td>City22</td>
								<td>Population22</td>
							</tr>
							<tr>
								<td>Code23</td>
								<td>City23</td>
								<td>Population23</td>
							</tr>
							<tr>
								<td>Code24</td>
								<td>City24</td>
								<td>Population24</td>
							</tr>
							<tr>
								<td>Code25</td>
								<td>City25</td>
								<td>Population25</td>
							</tr>
							<tr>
								<td>Code26</td>
								<td>City26</td>
								<td>Population26</td>
							</tr>
							<tr>
								<td>Code27</td>
								<td>City27</td>
								<td>Population27</td>
							</tr>
							<tr>
								<td>Code28</td>
								<td>City28</td>
								<td>Population28</td>
							</tr>
							<tr>
								<td>Code29</td>
								<td>City29</td>
								<td>Population29</td>
							</tr>
							<tr>
								<td>Code30</td>
								<td>City30</td>
								<td>Population30</td>
							</tr>
							<tr>
								<td>Code31</td>
								<td>City31</td>
								<td>Population31</td>
							</tr>
							<tr>
								<td>Code32</td>
								<td>City32</td>
								<td>Population32</td>
							</tr>
							<tr>
								<td>Code33</td>
								<td>City33</td>
								<td>Population33</td>
							</tr>
							<tr>
								<td>Code34</td>
								<td>City34</td>
								<td>Population34</td>
							</tr>
							<tr>
								<td>Code35</td>
								<td>City35</td>
								<td>Population35</td>
							</tr>
							<tr>
								<td>Code36</td>
								<td>City36</td>
								<td>Population36</td>
							</tr>
							<tr>
								<td>Code37</td>
								<td>City37</td>
								<td>Population37</td>
							</tr>
							<tr>
								<td>Code38</td>
								<td>City38</td>
								<td>Population38</td>
							</tr>
							<tr>
								<td>Code39</td>
								<td>City39</td>
								<td>Population39</td>
							</tr>
							<tr>
								<td>Code40</td>
								<td>City40</td>
								<td>Population40</td>
							</tr>
							<tr>
								<td>Code41</td>
								<td>City41</td>
								<td>Population41</td>
							</tr>
							<tr>
								<td>Code42</td>
								<td>City42</td>
								<td>Population42</td>
							</tr>
							<tr>
								<td>Code43</td>
								<td>City43</td>
								<td>Population43</td>
							</tr>
							<tr>
								<td>Code44</td>
								<td>City44</td>
								<td>Population44</td>
							</tr>
							<tr>
								<td>Code45</td>
								<td>City45</td>
								<td>Population45</td>
							</tr>
							<tr>
								<td>Code46</td>
								<td>City46</td>
								<td>Population46</td>
							</tr>
							<tr>
								<td>Code47</td>
								<td>City47</td>
								<td>Population47</td>
							</tr>
							<tr>
								<td>Code48</td>
								<td>City48</td>
								<td>Population48</td>
							</tr>
							<tr>
								<td>Code49</td>
								<td>City49</td>
								<td>Population49</td>
							</tr>
							<tr>
								<td>Code50</td>
								<td>City50</td>
								<td>Population50</td>
							</tr>
						</table>
					</div>
					<div class="data_droplist">
						Export
						<ul>
							<li class="data_li">JPEG</li>
							<li class="data_li">PDF</li>
							<li class="data_li">PNG</li>
						</ul>
					</div>
					<div class="data_btn">See Database</div>
				</div>
			</section>
			<footer>
				<div class="footer">
					<div class="footer_contact">
						<h3>Contact Us</h3>
						<input
							type="text"
							placeholder="Your Name" />
						<input
							type="text"
							placeholder="Your Email" />
						<input
							type="text"
							placeholder="Your Msg" />
						<button type="submit"></button>
					</div>
					<div class="footer_siteMap">
						<h3>Site Map</h3>
						<a href="">Home</a>
						<a href="">Data</a>
						<a href="">About Us</a>
					</div>
					<div class="footer_icons">
						<div class="footer_logo">Logo</div>
						<div class="footer_icon">i1</div>
						<div class="footer_icon">i2</div>
						<div class="footer_icon">i3</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
