extends layout.pug
block head 
    link(rel="stylesheet", href="/content.css")
    block cityCss

   

block dataContent
    table.data_table            
        tr
            th Continent
            th Number Of Countries 
            th Total Population 
    
            each cityData in cities
                tr
                    td #{cityData.code}
                    td 
                        a(href=`/cities/city/${cityData.id}`) #{cityData.name}
                    td #{cityData.population}