doctype html
html(lang="en")
  head
    // Meta tags
    meta(charset="UTF-8")
    title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // Website description for SEO
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="keywords", content="")

    // Open Graph social media info
    meta(property="og:url", content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html")
    meta(property="og:type", content="article")
    meta(property="og:title", content="When Great Minds Don’t Think Alike")
    meta(property="og:description", content="How much does culture influence creative thinking?")
    meta(property="og:image", content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg")

    // FAVICONS info
    link(rel="icon", href="icon_path", type="image/png", sizes="16x16")

    // Outside styling and links info
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap", rel="stylesheet")

    link(rel="stylesheet", href="/style.css")

    block head
  body
    .wrapper
        aside.logo Logo
        nav.nav_bar
            ul
                li.nav_item
                    input(type="text", placeholder="Search", class="nav_search")
                li.nav_item
                    a(href="/continents") Data
                li.nav_item
                    a(href="") <i class="fas fa-user"></i>
        section.graph
            .graph_container
                header
                    h1.graph_title Graph
                .graph_content [Content]
                ul.graph_filters
                    li.graph_filter            
                            input(type="checkbox", name="continentsCheckbox", id="")
                            | Continents
                    li.graph_filter            
                            input(type="checkbox", name="countriesCheckbox", id="")
                            | Countries
                    li.graph_filter  
                            input(type="checkbox", name="citiesCheckbox", id="")
                            | Cities
           
        section.data
           .data_container
                h1 Frequently Asked Questions
                .data_content 
                    each question, index in ['How do I sign up?', 'Can I find demographic breakdowns by age, gender, and ethnicity?', 'Can I access data on birth rates, death rates, and fertility rates?', 'What are the projections for future populations trends?']
                        .accordion
                            .accordion-item(id='question#{index+1}')
                                a(href='#question#{index+1}') #{question}

        footer.footer
            .footer_contact
                h3 Contact Us
                input(type="text", placeholder="Your Name")
                input(type="text", placeholder="Your Email")
                textarea(name="", cols="30", rows="10" placeholder="Your Message")
                button.data_btn(type="submit") Submit
            .footer_siteMap
                h3 Site Map
                a(href="/") Home
                a(href="/continents") Data
                a(href="") About Us
            .footer_icons
                .footer_logo Logo
                .footer_icon 
                     a(href="") <i class="fa fa-phone" aria-hidden="true"></i>
                .footer_icon 
                    a(href="") <i class="fa fa-envelope" aria-hidden="true"></i>
                .footer_icon 
                    a(href="") <i class="fa fa-linkedin-square" aria-hidden="true"></i>
<script src="https://kit.fontawesome.com/4622d99ad4.js" crossorigin="anonymous"></script>