<!DOCTYPE html>
<html lang="en">
	<head>
		<!--  Meta tags  -->
		<meta charset="UTF-8" />
		<title></title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<!-- Website desc for SEO -->
		<meta
			name="description"
			content="" />
		<meta
			name="author"
			content="" />
		<meta
			name="keywords"
			content="" />

		<!-- Open Graph social media info -->
		<meta
			property="og:url"
			content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
		<meta
			property="og:type"
			content="article" />
		<meta
			property="og:title"
			content="When Great Minds Don’t Think Alike" />
		<meta
			property="og:description"
			content="How much does culture influence creative thinking?" />
		<meta
			property="og:image"
			content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />

		<!-- FAVICONS info -->
		<link
			rel="icon"
			href="icon_path"
			type="image/png"
			sizes="16x16" />

		<!-- Outside styling and links info -->
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="./css/style.css" />
	</head>
	<body>
		<div class="wrapper">
			<nav>
				<div class="nav_logo"></div>
				<div class="nav_bar">
					<input
						type="text"
						placeholder="Search"
						class="nav_search" />
					<div class="nav_item">Data</div>
					<div class="nav_item">human Icon</div>
				</div>
			</nav>
			<main>
				<section class="main_animation">Animation</section>
				<section class="main_faq">
					<div class="faq">
						<h1>FAQ</h1>
						<div class="faq_search"></div>
						<div class="faq_item"></div>
						<div class="faq_item"></div>
						<div class="faq_item"></div>
						<div class="faq_item"></div>
					</div>
				</section>
			</main>
			<footer>
				<div class="footer">
					<div class="footer_contact">
						<h3>Contact Us</h3>
						<input
							type="text"
							placeholder="Your Name" />
						<input
							type="text"
							placeholder="Your Email" />
						<input
							type="text"
							placeholder="Your Msg" />
						<button type="submit"></button>
					</div>
					<div class="footer_siteMap">
						<h3>Site Map</h3>
						<a href="">Home</a>
						<a href="">Data</a>
						<a href="">About Us</a>
					</div>
					<div class="footer_icons">
						<div class="footer_logo">Logo</div>
						<div class="footer_icon">i1</div>
						<div class="footer_icon">i2</div>
						<div class="footer_icon">i3</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
