:root {
	--first-color: #ab9bec;
	--second-color: #d7d1fb;
}
body {
	font-size: 1.6rem;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, minmax(100px, 1fr));
	grid-template-rows: 10vh minmax(auto, 80vh) 80vh 20vh;
	grid-template-areas:
		'logo . nav nav'
		'visual visual visual visual'
		'data data data data'
		'footer footer footer footer';
	/* background-color: var(--second-color); */
}
.logo {
	background-color: var(--second-color);
	grid-area: logo;
	text-align: center;
	line-height: 10vh;
}

.nav_bar {
	grid-area: nav;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--second-color);
}
.nav_bar ul {
	height: 30px;
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--first-color);
	list-style: none;
}
.nav_item:nth-child(1) {
	width: 60%;
}
.nav_search {
	width: 100%;
	text-align: left;
}

.nav_item a {
	width: 100px;
	padding: 0px 10px;
	display: block;
	list-style: none;
	text-align: center;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}
.nav_item a:hover {
	text-shadow: 2px 2px 8px white;
}

.graph {
	background-color: var(--first-color);
	grid-area: visual;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.graph header {
	font-size: 3rem;
	margin: 10px 0;
}
.graph_content {
	flex-basis: 80%;
}
.graph_filters {
	align-self: flex-start;
	font-weight: bold;
}
.graph_filter {
	padding: 5px 10px;
}
.graph_filter input {
	margin-right: 10px;
}

.data {
	background-color: var(--second-color);
	grid-area: data;
}
footer {
	background-color: var(--first-color);
	grid-area: footer;
}
