:root {
	--first-color: #ab9bec;
	--second-color: #d7d1fb;
	--shadow-color: #666;
}
.data_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3em 0;
	padding: 0 10px;
	overflow-y: auto;
}

h2 {
	font-weight: 600;
	margin-bottom: 20px;
}

.cityDesc {
	width: 50%;
	text-align: right;
}
.cityDesc * {
	line-height: 2.5rem;
	padding: 0 10px;
}

p {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 10px 0;
}

span {
	margin-right: auto;
	font-weight: 500;
	white-space: nowrap;
}
